<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>

</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="article-url" type="text" name="input" value="" onblur=""
                    placeholder="Please enter the URL of the article or blog">
                <input type="submit" name="" value="submit" onclick="" onsubmit="">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <ul id="results"></ul>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>